$main-color: #FFD60A;
$second-color: #FFC300;
$text-color: #001D3D;
$text-second-color: #003566;
$main-second-color: #629bd94f;
$gradient-color: linear-gradient(150deg, #5b4516,#b4903a,#fffea6,#b4903a,#b4903a,#b4903a,#fffea6,#b4903a);;
$lighte-color:rgb(255, 255, 254);



// *{
//   // padding: 20px;
// }
.home_search_container{
  // position: absolute;
  // top: -353px;
  // width: calc(100% + 122px);
  // left: -61px;
  padding-top: 47px;
  padding-left: 61px;
  padding-right: 61px;
  padding-bottom: 59px;
  background: $gradient-color;
  border-radius: 12px;
}
.home_search_title{
  width: 247px;
    height: 55px;
    background: $text-color;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: $second-color;
    font-weight: 400;
    text-align: center;
}
.home_search_content{
  // width: 100%;
    background: #ffffff80;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 67px;
    padding-right: 83px;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.search_input {
  height: 50px;
  background: #f2f5f6;
  border: none;
  outline: none;
  padding-left: 17px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #72728c !important;
}
// d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start
.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.spichial{
  // background: rgba(180, 143, 58, 0.217);
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background: $text-color;
  color: #f2f5f6;
}
mat-form-field{
  background: none;
}
