<div class="home_search_container">
  <div class="home_search_title">أبحث في منطقتك</div>
  <div class="home_search_content">


    <mat-form-field>
      <mat-label>المحافظة</mat-label>
      <mat-select>
        <mat-option value="one">الاسكندرية</mat-option>
        <mat-option value="two">اسوان</mat-option>
        <mat-option value="3">اسيوط</mat-option>
        <mat-option value="4">المنيا</mat-option>
        <mat-option value="6">اسماعيلية</mat-option>
        <mat-option value="7">السويس</mat-option>
        <mat-option value="8">سوهاج</mat-option>
        <mat-option value="9">دمياط</mat-option>
        <mat-option value="10">دمنهور</mat-option>
        <mat-option value="11">كفر الشيخ</mat-option>
        <mat-option value="12">بنها </mat-option>
        <mat-option value="13">طنطا</mat-option>
        <mat-option value="14">المحلة الكبرى</mat-option>
        <mat-option value="15">شبين  الكوم</mat-option>
        <mat-option value="16">الزقازيق</mat-option>
        <mat-option value="17">بني سويف</mat-option>
        <mat-option value="18">الاقصر</mat-option>
        <mat-option value="19">قنا</mat-option>
        <mat-option value="20">الغردقة</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>المنطقة</mat-label>
      <mat-select>
        <mat-option value="one"></mat-option>
        <mat-option value="two">Second option</mat-option>
        <mat-option value="3">Second option</mat-option>
        <mat-option value="4">Second option</mat-option>
        <mat-option value="5">Second option</mat-option>
        <mat-option value="6">Second option</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
  <!-- <form action="#" class="home_search_form" id="home_search_form">
  <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start search-form">
  <input type="text" class="search_input search_input_1" placeholder=" المحافظة" required="required">
  <input type="text" class="search_input search_input_2" placeholder="المدينة" required="required">
  <input type="text" class="search_input search_input_3" placeholder="الحي" required="required">
  <button class="home_search_button">ابحث</button>
  </div>
  </form> -->
  </div>
  </div>
