.landing{
  padding: 80px;
  background-image: url(/src/assets/logo.png);
  background-color: blueviolet;
}
.container{
background-color: brown;
height: 100%;
}
.navbar{
  max-height: 20px;

}
.products{
padding: 80px;
background-color:bisque;
}
.callus{
padding: 80px;
background-color:rgb(187, 123, 45);
}
