/* $main-color: #FFD60A;
$main-second-color: #629bd94f;
$second-color: #FFC300;
$text-color: #001D3D;
$text-second-color: #003566;
$gradient-color: linear-gradient(150deg, #5b4516,#b4903a,#fffea6,#b4903a,#b4903a,#b4903a,#fffea6,#b4903a);
$lighte-color:rgb(198, 198, 198); */
:root {
  --main-color:#FFD60A;
  --second-color:#FFC300;
  --text-color:#001D3D;
  --lighte-color:rgb(255, 255, 254);
  --main-second-color: #629bd94f;
  --gradient-color:linear-gradient(150deg, #5b4516,#b4903a,#fffea6,#b4903a,#b4903a,#b4903a,#fffea6,#b4903a);
}


.landing{
  /* padding: 80px; */
/* color: var(--main-second-color); */
/* // background-image: url(../../assets/Family-of-Hearing-Aids.png); */

}
/* .container{
background-color: var(--lighte-color);
height: 100%;
} */
.navbar{
  max-height: 20px;
  color: var(--second-color);

}
.products{
padding: 80px;
background: var(--gradient-color);
}
.callus{
padding: 80px;
background-color:rgb(187, 123, 45);
}
.services{
  padding: 80px;
background-color: var(--lighte-color);
}
.footer{
  padding: 80px;
  background: var(--gradient-color);
}
.heeader{
  font-size: xx-large;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    padding: 20px;

}
.heeader:hover{
  letter-spacing: 5px;
  background-color: #001D3D;
  color: #FFC300;

}
