
<div class="">
  <div class="container mx-auto p-20 bg-mainsecondcolor ">
<landing></landing>
  </div>
  <div class=" ">
    <h1 class=" flex flex-row justify-center items-center p-2 heeader ">Our Products</h1>
 </div>
  <div class="container mx-auto p-20 bg-secondcolor">
<products></products>
  </div>
  <div class=" ">
    <h1 class=" flex flex-row justify-center items-center p-2 heeader ">Our servises</h1>
 </div>
  <div class="container mx-auto p-20 bg-mainsecondcolor">
<service></service>
  </div>

  <div class="container mx-auto p-20 bg-secondcolor">
<app-footer></app-footer>
  </div>

</div>
