<div class="main-serv">
  <div class="content">
    <!-- <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img
            mat-card-lg-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet co nsectetur adipisicing elit. Et, vel
        blanditiis amet repellendus, assumenda deleniti doloremque perspiciatis
        totam obcaecat i asperiores dignissimos iure ist e, magni quidem tempora
        molestiae modi ut co nsequuntur?
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img
            mat-card-lg-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet co nsectetur adipisicing elit. Et, vel
        blanditiis amet repellendus, assumenda deleniti doloremque perspiciatis
        totam obcaecat i asperiores dignissimos iure ist e, magni quidem tempora
        molestiae modi ut co nsequuntur?
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img
            mat-card-lg-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet co nsectetur adipisicing elit. Et, vel
        blanditiis amet repellendus, assumenda deleniti doloremque perspiciatis
        totam obcaecat i asperiores dignissimos iure ist e, magni quidem tempora
        molestiae modi ut co nsequuntur?
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Large</mat-card-subtitle>
          <img
            mat-card-lg-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet co nsectetur adipisicing elit. Et, vel
        blanditiis amet repellendus, assumenda deleniti doloremque perspiciatis
        totam obcaecat i asperiores dignissimos iure ist e, magni quidem tempora
        molestiae modi ut co nsequuntur?
      </mat-card-content>
    </mat-card> -->
   </div>
</div>
