$main-color: #FFD60A;
$second-color: #FFC300;
$text-color: #001D3D;
$text-second-color: #003566;
$main-second-color: #629bd94f;
$gradient-color: linear-gradient(150deg, #5b4516,#b4903a,#fffea6,#b4903a,#b4903a,#b4903a,#fffea6,#b4903a);;
$lighte-color:rgb(255, 255, 254);

.example-card {
  max-width: 400px;
  margin: 0 10px;
  border-radius: 20px;
}
.content{
  display: flex;
  justify-content: center;
  // padding: 0 10px;
  // margin: 0 10px;
}
