
/* $main-color: #FFD60A;
$main-second-color: #629bd94f;
$second-color: #FFC300;
$text-color: #001D3D;
$text-second-color: #003566;
$gradient-color: linear-gradient(150deg, #5b4516,#b4903a,#fffea6,#b4903a,#b4903a,#b4903a,#fffea6,#b4903a);; */
:root {
  --main-color:#FFD60A;
  --second-color:#FFC300;
  --text-color:#001D3D;
  --lighte-color:rgb(255, 255, 254);
  --main-second-color: #629bd94f;
  --gradient-color:linear-gradient(150deg, #5b4516,#b4903a,#fffea6,#b4903a,#b4903a,#b4903a,#fffea6,#b4903a);
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
ul,li,a{
  list-style: none;
  text-decoration-style: none;
  list-style-type: none;
}
