
<header>
<div class="logo">
  <h2 routerLink="/">  El Taher Group </h2>
  <img width="100px" height="50px" src="/src/assets/logo.png">
</div>
  <nav>

    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home</li>
      <!-- <li  routerLinkActive="active">Login</li>
      <li  routerLinkActive="active">sign up</li>
      <li  routerLinkActive="active" class="span">Card</li> -->
      <li  routerLinkActive="active">our us</li>
      <li  routerLinkActive="active">Products</li>
      <li  routerLinkActive="active">Call Us</li>
    </ul>
  </nav>

</header>
